@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300&display=swap');

main{
	max-width: 1000px;
	margin: 20px auto;
}
header img{
	margin: 0 auto;
	display: block;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin: 0;
	color: #e1c0a6;
}
.home-hero{
	min-height: 200px;
	background-image: url(images/homehero.jpg);
	background-size: cover;
	padding-top: 20px;
	color: #e1c0a6;
	text-shadow: 1px 1px 0 black;
}

footer{
	text-align: center;
	border-top: 1px solid gray;
	padding: 10px;
	clear: both;
}

a{
	text-decoration: none;
}
a:link{
	color: blue;
}
a:visited{
	color: purple;
}
a:hover{
	color: lightblue;
}
a:active{
	color: black;
}


						/*Navigtion bar stuff*/
nav{
	background-color: #4a3c49;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}
nav ul{
	list-style-type: none;
	text-align: center;
	margin: 10px;
}
nav li{
	display: inline;
}
nav a{
	text-decoration: none;
	padding-right: 10px;
}
nav a:link{
	color: darkgray;
}
nav a:visited{
	color: white;
}
nav a:hover{
	color: orange;
}
nav a:active{
	color: hotpink;
}						/*End Nav*/


						/*Table stuff*/
table{
  border-collapse: collapse;
}

td, th{
  border: 1px solid #bbbbbb;
  padding: 5px;
}
th{
  background-color: #96909a;
  color: white;
}		
td{
	background-color: white;
	color: #e1c0a6;
}				/*End table*/

h1{
	text-align: center;
	color: #d29483;
}
h2{
	color: #d29483;
}
.bigtext{
	font-size: 17px;
}
.center{
	color: #d29483;
	text-align: center;
}
h3{
	color: #d29483;
}

p{
	color: #e1c0a6;
}
i.fa{
	color: #4a3c49;
	font-size: 2em;
}
.bullelement{
	font-size: 2rem;
}

						/*Form Stuff*/
form{
	border: 2px solid darkgray;
	border-radius: 4%;
	padding: 15px 35px;
	margin: 0 auto;
	display: block;
	background-color: #96909a;
	max-width: 350px;
}
label{
	float: left;
	width: 8em;
	padding-right: 1em;
	font-weight: bold;
	color: #e1c0a6;
}

input, textarea{
	margin-bottom: 1em;
	display: block;
}
input [type=submit]{
	display: block;
	background-color: lightgray;
}

/*CSS for tablets*/
@media only screen and (max-width: 1024px){
	h1{
		font-size: 2em;
	}
}

/*CSS for smartphones*/
@media only screen and (max-width: 768px){
	h1{
		font-size: 1.5em;
	}
}
